MONGODB_URI=mongodb+srv://khachhang:7QXUphCpebpcZH83@khachhang.lqich.mongodb.net

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
UPLOAD_PATHS=

# Google Service Account
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_DRIVE_FOLDER_ID=